* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 0.25s all ease-in-out;
}

/* Center align class */
.c-align {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Main Viewport height */
.Main {
  min-height: 100vh;
}

/* Header */
.Main h2 {
  margin: 1rem 0;
  color: #493e49;
  text-shadow: 1px 1px 2px #969696b3;
  text-transform: uppercase;
  text-align: center;
}

/* Logo */
.Main img {
  width: 50px;
}

/* Contianer */
.container {
  display: flex;
  justify-items: center;
  flex-direction: column;
  height: 50%;
  margin: 5rem 1rem 2rem 1rem;
}

/* Forms */
form {
  padding: 1.5rem;
  box-shadow: 1px 5px 10px 3px rgb(194, 194, 194);
  min-height: 10rem;
  width: 350px;
  border: 1px solid #f1a104;
  position: relative;
}

form h4 {
  width: 100%;
  text-align: right;
  margin-bottom: 0.5rem;
  color: #f1a104;
}

label {
  width: 100%;
  color: #493e49;
  font-weight: 500;
  letter-spacing: 1px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  margin: 0.5rem 0 0 0;
  padding: 0.7rem 0.5rem;
  border: 1px solid #bdbdbd;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #f1a104;
  outline: none;
}

input[type="submit"] {
  width: 100%;
  padding: 0.9rem;
  cursor: pointer;
  border: none;
  background-color: #493e49;
  font-size: medium;
  font-weight: 500;
  letter-spacing: 2px;
  color: #f1a104;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

input[type="submit"]:hover {
  background-color: #f1a104;
  color: #493e49;
}

/* Form error messages */
.message {
  font-size: 0.8rem;
  font-weight: 500;
  color: crimson;
  text-align: left;
  width: 100%;
  margin-bottom: 1.5rem;
}

/* Back button */
.back {
  cursor: pointer;
  font-size: 1.5rem;
  color: #493e49;
  position: absolute;
  left: 1.5rem;
  transform: rotate(180deg);
}

.back:hover {
  color: #f1a104;
}

/* Router Links */
.links {
  padding: 1rem 0;
  text-align: center;
  line-height: 1.5;
}

.links a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #493e49;
}

.links a:hover {
  text-decoration: underline;
  color: #f1a104;
}

/* Dashboard */
.dashboard {
  justify-content: center;
  height: 60vh;
  width: 80%;
}

.dashboard h1 {
  color: #f1a104;
}

.dashboard button {
  min-width: 20%;
  padding: 0.9rem;
  margin-top: 2rem;
  cursor: pointer;
  border: none;
  background-color: #493e49;
  font-size: medium;
  font-weight: 500;
  letter-spacing: 2px;
  color: #f1a104;
}

.dashboard button:hover {
  background-color: #f1a104;
  color: #493e49;
}

@media screen and (max-width: 575px) {
  form {
    max-width: 250px;
  }

  .dashboard h1 {
    font-size: 1.5rem;
  }
}
